body {
  background-color: rgb(24, 113, 177);
  color: white;
}

/* .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-repeat: no-repeat;

  opacity: .5;
  filter:alpha(opacity=80);
}

#imgBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
} */

/* ============== */
/*  DASHBOARD STYLES  */
/* ============== */

.meals{
  margin-left: 50px;
  max-width: 850px;
}

.header {
  background-color: rgba(252, 233, 155, .5);
  border-radius: 20px;
  padding: 15px;
  margin-left: 50px;
  max-width: 823px;
}


.mainHeader {
  text-align: center;
}

.subHeader {
  display: flex;
  justify-content: center;

}

h1 {
  margin: 0;
  margin-bottom: 15px;
}

h2 {
  float: left;
  margin: 0 20px;
  padding: 5px;
}

h2:hover {
  background-color: rgba(233,162,57,.5);
  padding: 5px;
  border-radius: 20px;
}

h3 {
  width: 100px;
  text-align: center;
}

.mealTotalsHeaders > h3 {
  width: 300px;
  text-align: left;
  padding-left: 15px;
}

.mealHeader > button {
  width: 63px;
  margin: 10px;
}

h4 {
  width: 75px;
  text-align: center;
  vertical-align: middle;
  /* border: solid gold 1px; */
}

h5 {
  height: 50px;
  /* border: solid gold 1px; */
  width: 75px;
  text-align: center;
  margin: 0;
}

.mealHeader {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(224, 201, 235,.5);
  border-radius: 20px;
  padding: 8px;
  margin-top: 10px;
}

.dailyTotals, .mealTotals {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(247,186,169,.7);
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 20px;
}

.mealTotals {
  background-color: rgba(154, 217, 186,.5);
}

.mealTotalsHeaders {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

.mealItems {
  min-height: 100px;
  overflow: visible;
  /* background-color: purple; */
  background: rgba(130,201,201,.5);
  border-radius: 20px;
  padding: 8px;
}

.mealItemDiv {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
}

.mealItemDiv > .item {
  width: 300px;
  padding-left: 10px;
}

.mealItemDiv > .brand {
  word-wrap: normal;
}

.mealToalsData {
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  padding-left: 15px;
}

.ui-draggable {
  display: flex;
  justify-content: space-around;
  /* background-color: purple; */
  /* border: solid gold 1px; */
}




.ui-draggable-dragging {
  background-color: purple;
  opacity: .5;
  border-radius: 20px;
}

/* ============== */
/*  MODAL STYLES  */
/* ============== */

.foodSearchModal {
  display: none;
}

.foodSearchBoxArea {
  background: rgba(130,201,201,.8);
  position: fixed;
  top: 100px;
  left: 20px;
  overflow: auto;
  /* resize: both; */
  width: 90%;
  max-width: 925px;
  height: 70%;
  border-radius: 20px;
}

.foodSearch {
  margin: 15px;
}

input[type=text] {
  width: 200px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 75%;
  border: solid grey 1px;
  border-radius: 5px;
  margin: 15px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(255,255,255,.5);
}

#itemHeader {
  width:290px;
  padding-left: 35px;
}

.resultsList {
  /* margin-top: 25px; */
  width: 100%;
}

.wrapperDiv {
  display: flex;
  width: 100%;
  padding: 2px;
}

.resultHeaders {
  /* width: inherit; */

  position: sticky;
  top: 0;
  /* z-index: 10; */
}

span {
  width: 25px;
  /* border: solid gold 1px; */
}

.itemDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 300px;
  margin: 0;
  /* border: solid gold 1px; */
}

.mealItemDiv  > .item {
  width: 250px;
}

.nutrient {
  width: 75px;
  margin: 3px 0;
  padding: 2px;
  text-align: center;
  /* border: solid gold 1px; */
}



.brand {
  margin: 0;
}


button, input[type=submit] {
  border-radius: 20px;
  margin: 15px;
  background-color: rgba(127,201,255,.5);
  padding: 5px;
}

button:hover, input[type=submit]:hover {
  background-color: rgba(233,162,57,.5);
}

.foodSearch > img {
  height: 50px;
  width: auto;
  image-orientation: auto;
  margin-top: 25px;
  margin-left: 100px;
}

nav {
  background-color: rgba(242, 242, 242, .5);
  border-radius: 20px;
  padding: 15px;
  margin-left: 50px;
  max-width: 823px;
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
}
